@tailwind base;
@tailwind components;
@tailwind utilities;

/* hides the scrollbar of sideways scrolling lists (they still scroll) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
